$sc-primary-color: #5a99e1;
$sc-secondary-color: #e15ab2;
$sc-background-color: #ffffff;
$sc-icon-color: #ffffff;
$sc-icon-color-dark: #373636;
$sc-font-color: #ffffff;
$sc-font-color-dark: #373636;
$sc-color-border: #969696;
$sc-disabled-color: #7f7f7f;